.blue {
    background-color: blue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

span {
    color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container2 {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

span {
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul li {
    padding: 0 10px;
}

img {
    width: 100%;
}

.bg-img {
    padding: 200px;
    background-size: cover;
}


.home-container {
    background-color: black;
    padding: 50px;
}

.prodotti {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;

}

h5 {
    color: white;
    text-align: center;
}

.card {
    width: calc(100% / 6 - 20px);
    margin: 10px;

}

.btn-load {
    display:flex;
    justify-content:center;
    margin-top: 30px;
}
 .btn-load  a {
    padding: 10px 20px;
    background-color: #0075F7;
    color: white;
    text-decoration: none;
    }

#products {
    padding: 3rem 0;
    background-color: #0282f9;
    text-align: center;

}

#products ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#products li {
    justify-content: center;
    display: flex;
    align-items: center
}

#products a {
    text-decoration: none;
    color: #fff;

}
#products img {
    width: 40px;
    height: 50px;
    margin: 0px 15px;

 }

 .menu-footer{
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 10px;
  }
  .logo-footer img {
    width: 305px;
    margin-top: -25px;
    margin-bottom: -25px;

  }
.menu-list{
    display: flex;
}
li {
    list-style-type: none;
    padding: 2px 0;
}

li a{
    color: rgb(201, 192, 192);
    text-decoration: none;
    font-size:12px;
}
 a:hover{
    text-decoration:underline;
}

.content-list{
        padding: 20px 30px;
}
.content-list h3{
            padding: 10px 0;
            margin-left: 10px;
}

.menu-list ul{
  display: flex;
  flex-direction: column;
}


.bg-dark{
background-color: hsl(240deg 1% 19%);
}

.second-footer{
      display: flex;
      justify-content: space-around;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 30px 0;
}
.signup button{
    color: white;
    border: 2px solid hsl(209deg 100% 49%);
    padding: 10px 15px;
    background-color: hsl(240deg 1% 19%);
    margin-right: 240px;
}
button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.icon{
    display: flex;
    align-items: center;
}
.icon h3{
          color: hsl(209deg 100% 49%);
          padding: 0px 20px;
}
.icon img{
    padding: 0px 10px;
}

.icon img:hover{
      cursor: pointer;
      opacity: 0.7;
}

.social-nav {
    display: flex;
}
